<div class="card">
  <div class="card-content">
    <span class="card-title">Search:</span>

    <form [formGroup]="filters" (ngSubmit)="submit()">
      <label for="title">Video Title</label>
      <input type="text" id="title" formControlName="title" />

      <label for="author">Video Author</label>
      <input type="text" id="author" formControlName="author" />

      <button class="btn" [disabled]="!filters.valid">Submit</button>
    </form>
  </div>
</div>

<pre>{{ filters.value | json }}</pre>
