<app-video-list
  [videos]="(videoList | async) ?? []"
  [selectedId]="(selectedVideoId | async) ?? undefined"
></app-video-list>
<app-video-player></app-video-player>
<app-stat-filters></app-stat-filters>
