<div class="card" *ngIf="video | async as v; else noSelectedVideo">
  <div class="card-content">
    <h3>{{ v.title }}</h3>
    <p>{{ v.author }}</p>
  </div>
</div>

<ng-template #noSelectedVideo>
  <h3>Please select a video!</h3>
</ng-template>
